/* link - 아직 클릭하지 않은 경우 red 색상 설정 */
a:link { color: rgb(0, 0, 0); text-decoration: none;}	
/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 #c71d44 설정 */
a:visited { color: #000000; text-decoration: none;}	
/* hover - 마우스를 해당 링크에 위치했을 경우 #006DD7 설정 */
a:hover { color: #000000; text-decoration: underline;}

body{
    margin:0;
}
h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:1px solid gray;
    margin:0;
    padding:10px;
}

h2 {
    font-size: 60px;
    margin:0;
    padding:10px
} 



#grid{

    display: grid;
    grid-template-columns: 200px 1fr;
}

#grid ul{
    list-style: none; 
    
    font-size: 15px;
    border-right:1px solid gray;
    width: 179px;
    height: 800px;
    margin:0;
    padding:10px;
    
    
    position:sticky;
    top:0px;
    /* background-color: yellow; */
    

}

#concept{
    border-left:1px solid gray
}

#contents h2, p{
    padding:10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left:5px;
    
}

#contents img{
    border:2px solid black;
    vertical-align: auto;
    margin: 50px 50px;
    margin-right:0;
    width: 200px;
}